body {
            background-color: #3259e8;
            font-family: open-sans, sans-serif;
        }
/* configurando o tema escuro */
        body.dark-mode {
            background-color: #1e1e1e;
        }
/* suavizando o direcionamento das seções após o click na barra de navegação*/
        html {
            scroll-behavior: smooth;
        }
        * {
           color: black;
        }
        h1{
            margin-top: 0;
        }
        nav {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            padding: 2%;
            gap: 20px;
        }
        nav a {
            text-decoration: none;
            justify-content: space-around;
            font-style: bold;
            font-size: large;
            color: black;
            background-color: white;
            height: 40px;
            width: 100px;
            text-align: center;
            line-height: 40px;
            border-radius: 5px;
        }
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        section {
            border: 1px solid white;
            box-shadow: 2px 2px #1a191943;
            text-align: justify;
            padding: 2% 5% 2% 5%;  
            margin-bottom: 6%;
            border-radius: 10px;
            width: 30%;
            background-color: white;
        }
        section h1 {
            text-align: center;
        }

        /* Ao passar o mouse, as seções ficarão levemente maiores e mudarão para outra cor */
        section:hover {
            width: 32%;
            box-shadow: 4px 4px #1a191943;
            border: 1px solid black;
        }
        section:hover, nav a:hover {
            color: white;
            background-color: #f9b208;
            transition: 0.2s;
        }
        section:hover h1, section:hover p {
            color: black;
            transition: 0.6s;
        }
        section #contato form input{
            width: 50%;
        }
        form {
            width: 100%;
            max-width: 30rem;
        }
        label, input, textarea, button {
            display: block;
            width: 100%;
            font-size: 1rem;
        }
        input {
            margin: 10px 0 5px 0;
            padding: 4px;
        }
        button {
            margin-top: 10px;
            background-color: black;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

/*responsividade em dispositivos móveis*/ 

@media (max-width: 768px) and (min-width: 421px) {

            /*O bloco de seções sofre uma leve mudança de tamanho e cor ao clicar na tela*/

            section {
                width: 80%;
            }
            section:hover {
                width: 77%;
            }
            /*a barra de navegação quebra de acordo com o tamanho da página*/
            nav {
                flex-wrap: wrap;
            }
        }